/* Estilos de los TOOLINGS */
.toolings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.toolings-title {
    font-size: 40px;
    
    align-self: center;
    margin: 100px 0 64px 0;

    border: 2px solid #87A922;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    color: #87A922;
    text-shadow:  0 0 5px #87A922;
    opacity: 0;
}

.toolings-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    background-color: #87A922;
    padding: 24px;
    margin-bottom: 64px;
    border-radius: 8px;
    box-shadow: 0 0 10px #87A922;
    opacity: 0;
}

.toolings-list li {
    width: 148px;
    list-style: none;
    font-size: 16px;
    gap: 12px;
    display: flex;
    align-items: center;
    background-color: #302d2d;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0 0 5px #302d2d;

}

.toolings-list li i {
    width: 25px;
    font-size: 20px;
    margin-left: 6px;
    color: #87A922;
}



.animate-your-effect-title {
    animation: fadeInRote 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

@keyframes fadeInRote {
    0% {
        opacity: 0;
        transform: translate(150px) rotate(-45deg);
    }
    50% {
        opacity: 0.5; 
        transform: translate(-75px) rotate(22.5deg); 
    }
    100% {
        opacity: 1;
        transform: translate(0) rotate(0);
    }
}


.animate-your-effect-container {
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1; 
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .tooling-item {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .tooling-item.animate-pop {
    opacity: 1;
    transform: scale(1);
  }
  
  
  /* Retraso inicial de 2 segundos y luego cada elemento aparece con un retraso de 0.2 segundos */
  .tooling-item.delay-2s.uno { transition-delay: 1.5s; }
  .tooling-item.delay-2s.dos { transition-delay: 1.7s; }
  .tooling-item.delay-2s.tres { transition-delay: 1.9s; }
  .tooling-item.delay-2s.cuatro { transition-delay: 2.1s; }
  .tooling-item.delay-2s.cinco { transition-delay: 2.3s; }
  .tooling-item.delay-2s.seis { transition-delay: 2.5s; }
  .tooling-item.delay-2s.siete { transition-delay: 2.7s; }
  .tooling-item.delay-2s.ocho { transition-delay: 2.9s; }
  .tooling-item.delay-2s.nueve { transition-delay: 3.1s; }
  .tooling-item.delay-2s.diez { transition-delay: 3.3s; }
  .tooling-item.delay-2s.once { transition-delay: 3.5s; }
  .tooling-item.delay-2s.doce { transition-delay: 3.7s; }
  .tooling-item.delay-2s.trece { transition-delay: 3.9s; }
  .tooling-item.delay-2s.catorce { transition-delay: 4.1s; }
  .tooling-item.delay-2s.quince { transition-delay: 4.3s; }



  .toolings-parraf {
    max-width: 360px;
    margin-bottom: 24px;
    color: #87A922;
    text-align: center;
    font-size: 20px;
    opacity: 0;
  }
  
  .animate-fade-in  {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay:4.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;
    }
  }
  

  
@media screen and (min-width: 600px) {
  .toolings-title {
      margin-bottom: 72px;
  }

  .toolings-list {
      grid-template-columns: repeat(3, 1fr);

  }

  .toolings-list li {
      font-size: 20px;
      width: 170px;
  }

  .toolings-list li i {
      font-size: 24px;
      margin-right: 8px;
  }

  .toolings-parraf {
      max-width: 590px;
      font-size: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .toolings-list {
      grid-template-columns: repeat(5, 1fr);
  }

  .toolings-parraf {
      max-width: 1112px;
      font-size: 28px;
  }

  .toolings-list li {
      font-size: 24px;
      width: 200px;
  }


  .toolings-list li i {
      font-size: 32px;
      margin-right: 8px;
  }
}
