.home-button {
    text-decoration: none;
    font-size: 32px;
    align-self: center;
    margin-top: 32px;
    padding: 8px 10px;
    border: 2px solid #87A922;
    border-radius: 8px;

    color: #87A922;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    text-shadow:  0 0 5px #87A922;
    background-color: #302d2d;
}

.home-button:hover {

    color: #302d2d;
    background-color: #87A922;
}