/* Estilos básicos para móviles (por defecto) */
body {
    background-color: #302d2d;
    color: #ebece9;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos del SHOWROOM */
.showroom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showroom-title {
    font-size: 40px;
    align-self: center;
    margin-top: 24px;
    border: 2px solid #87A922;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    color: #87A922;
    text-shadow:  0 0 5px #87A922;
}

.showroom-span:hover {
    color: #302d2d;
}

#showroom-button {
    font-size: 32px;
    align-self: center;
    margin-bottom: 32px;
    padding: 12px 10px;
    border: 2px solid #87A922;
    border-radius: 8px;

    color: #87A922;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    text-shadow:  0 0 5px #87A922;
    background-color: #302d2d;
    transition: all 0.3s ease;
}

#showroom-button:hover {
    color: #302d2d;
    background-color: #87A922;
}

/* Estilos de descarga de CV */
.download-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-cv-title {
    font-size: 32px;
    align-self: center;
    margin: 64px 0 32px 0;
    border: 2px solid #87A922;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    color: #87A922;
    text-shadow:  0 0 5px #87A922;
}

#download-cv-button {
    text-decoration: none;
    font-size: 32px;
    align-self: center;
    margin-bottom: 32px;
    padding: 12px 10px;
    border: 2px solid #87A922;
    border-radius: 8px;

    color: #87A922;
    box-shadow: 0 0 5px #87A922 inset, 0 0 5px #87A922; 
    text-shadow:  0 0 5px #87A922;
    background-color: #302d2d;
    transition: all 0.3s ease;
}

#download-cv-button:hover {
    color: #302d2d;
    background-color: #87A922;
}

/* Estilo de la cita */
.quote-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    border: 5px solid #87A922;
    border-radius: 8px;
    padding: 8px 12px 24px 12px;
    margin: 96px auto;
    gap: 12px;
}

.quote-text {
    font-size: 24px;
    margin: 0 20px;
    font-style: italic;
    line-height: 1.5;
}

.quote-author {
    margin-right: 20px;
    text-align: right;
}

.arrow-left {
    color: #87A922;
    align-self: flex-start;
    transform: scale(3.5);
    position: relative;
    top: -22px;
    left: 20px;
}

.arrow-right {
    color: #87A922;
    align-self: flex-end;
    transform: scale(3.5);
    position: relative;
    bottom: -38px;
    right: 24px;
}

/* Estilos para pantallas medianas (min-width: 600px) */
@media screen and (min-width: 600px) {
    .quote-container {
        width: 590px; /* Ensancha el contenedor de la cita en pantallas medianas */
    }
}

/* Estilos para pantallas grandes (min-width: 1120px) */
@media screen and (min-width: 1120px) {
    .quote-container {
        width: 590px; /* Mantiene el ancho del contenedor de la cita en pantallas grandes */
    }
}
